@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Global CSS */

:root {
  --primary-color: #2c9962;
  --black-color: #28282b;
  --white-color: #ffffff;
  --gray-color: rgb(107 114 128);
  --website-bg-color: #fbfbfb;
  --input-bg-color: #eef6fd;
  --dark-blue: #3d3288;
  --gray-bg: #e6e6e6;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif !important;
  background-color: var(--website-bg-color);
}

.container {
  max-width: 1400px;
}

.active {
  color: #555;
}

.inputColor {
  background-color: var(--input-bg-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 15px;
}

.btnCss {
  background-color: #2c9962;
  border: 1px solid #2c9962;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.marginTop {
  margin-top: 10px;
}

.backgroundColor {
  background-color: #28282b;
}
